.label
    font-size: 18px
    font-weight: 800
    
.input
    width: 100%

.margin
    margin-top:5px 
    margin-left: 10px

.component 
    margin-top: 40px
    padding-left: 10px
    padding-right: 10px
.componentMargin
    margin-top: 40px
    margin-left: 10px
.componentPadding 
    padding-left: 10px
    padding-right: 10px

.img
    margin-top: 10px 
    transition: 250ms
    width: 150px
    height: 0px
.imgShow
    margin-top: 10px 
    transition: 250ms
    width: 150px
    height: 150px

.grid
    gap: 15px
    display: grid

.form
    display: flex
    flex-direction: column
.sendButton
    align-self: flex-end
    margin-top: 40px
.right
    float: right
@media (max-width: 768px)
    .grid
        grid-template-columns: 1fr!important