.label
    font-size: 18px
    font-weight: 800
    
.input
    width: 100%

.margin
    margin-top:5px 

.component 
    margin-bottom: 40px
    padding-left: 10px
    padding-right: 10px

@media (max-width: 768px)
    .grid
        grid-template-columns: 1fr!important